/* Basic css code */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

html {
  overflow-x: hidden;
}

body {
  background: rgb(236, 236, 236);
  font-family: "Roboto+Condensed", Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.2s, linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

.main-area-bg {
  background-image: url(../images/blue-pipe-light.jpg);
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 80px;
  overflow: hidden;
  position: relative;
}

.content {
  margin-top: 100px;
}
.content .head-title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 42px;
  line-height: 60px;
}
span {
  color: rgb(0, 186, 186);
  font-weight: 700;
}

.btn {
  cursor: pointer;
  color: rgb(0, 145, 223);
  margin: 10px;
  transition: all 0.3s linear;
  /* border-color: rgba(241, 241, 241, 0.907); */
  border-radius: 0%;
}
.btn:hover {
  color: #45ffff;
  border-color: #45ffff;
}

.my-image {
  height: 150px;
  margin-bottom: 20px;
}
.my-pic {
  height: 700px;
  width: 600px;
  margin-top: -50px;
  margin-left: 0px;
}
.text-group {
  font-size: 22px;
}
.navbar {
  background: rgba(40, 40, 40, 0.477);
  height: 50px;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #45ffff;
}
.nav-item {
  margin-right: 35px;
  font-size: 18px;
}

.site-heading {
  margin-top: 50px;
}

/* about area */

.about-bg {
  background-color: rgb(10, 10, 12);
  height: 420vh;
}

.about-wrapper {
  margin-top: 100px;
}
.about-content {
  font-size: 25px;
  /* background-color: #3b6bd7; */
  /* padding: 20px; */
}

.skills-flex {
  height: 600px;
  width: 900px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.logo {
  height: 120px;
  width: 120px;
  margin: 40px;
}

.logo2 {
  height: 100px;
  margin: 40px;
}

/* .logo-images {
  height: 1px;
  width: 1px;
} */

.section-title {
  margin-top: 80px;
  font-size: 50px;
}

/* .cert-image {
  height: 200px;
  width: 300px;
} */
.certificate {
  background-color: rgb(10, 10, 12);
  height: 800px;
}
.cert-content {
  font-size: 25px;
}
.cert-image {
  height: 500px;
  width: 700px;
  margin-bottom: 150px !important;
}
.cert-image > img {
  height: 500px;
  width: 700px;
}
.extra-certificates {
  max-height: 600px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 50px;
  /* background-color: #161616; */
}

.extra-certificates::-webkit-scrollbar {
  width: 0;
}
.cert2-image {
  min-width: 620px;
  height: 530px;
  line-height: 20px;
  /* background-color: red; */
  /* margin-left: 30px;
  margin-right: 0px; */
}
.cert2-image > a > img {
  height: 400px;
  width: 520px;
  margin: 30px;
}
.cert2-image > a {
  color: rgb(0, 145, 223);
}
.cert2-image > a:hover {
  color: rgb(69, 255, 216);
}
.cover {
  padding: 0px 30px;
  position: relative;
}
.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.copyright {
  background-color: rgb(10, 10, 12);
}

/* project area */
.project-area {
  height: 200vw;
}
.netflix-home {
  height: 70vh;
  width: 70vw;
}
.my-project {
  margin-bottom: 5rem;
  margin-top: 6rem;
  font-weight: bold;
  font-size: 50px;
}
.project-title:hover {
  color: #2af8ff;
}
.projects {
  margin-bottom: 150px;
}

/* contact area */
.contact-page {
  height: 150vh;
}

.contact-area {
  margin-top: 50px;
}

.contact-me {
  font-size: 50px;
  font-weight: bold;
}
/* .contact-image {
  height: 400px;
} */

.contact-list {
  margin-left: 50px;
  /* border: solid white 2px; */
}

.contact-through {
  padding: 30px;
  border: solid 1px rgb(59, 59, 59);
  box-shadow: 2px 2px 3px white;
  height: 200px;
  width: 280px;
  transition-duration: 1s;
}

.contact-through:hover {
  height: 210px;
  width: 290px;
  box-shadow: 5px 5px 5px white;
  transition-duration: 1s;
}

.contact-link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 159, 174);
}
.contact-link:hover {
  color: #2af8ff;
  font-size: 21px;
}

.contact-no {
  color: rgb(37, 114, 239);
}

/* mobile view */

@media (min-width: 320px) and (max-width: 480px) {
  .main-area-bg {
    background-image: url(../images/blue-pipe-light.jpg);
    height: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 100px 0 80px; */
    margin-bottom: 0px !important;
    overflow: hidden;
    position: relative;
  }
  .content {
    margin-top: 50px;
  }

  .my-image {
    height: 50px;
    margin-bottom: 0px !important;
  }
  .my-pic {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 0px !important;
  }
  /* about and skills */

  .skills-flex {
    height: 500px;
    width: 350px;

    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .about-bg {
    background-color: rgb(10, 10, 12);
    /* background-color: red !important; */
    height: 500vh;
  }
  .logo {
    height: 50px;
    width: 50px;
    margin: 0px;
  }

  .logo2 {
    height: 50px;
    width: 150px;
    margin: 0px;
  }
  .logo-images {
    height: 80px;
    width: 130px;
  }
  .section-title {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 40px;
  }

  .cert-image {
    height: 350px;
    width: 700px;
    margin-bottom: 10px !important;
  }
  .cert-image > img {
    height: 200px;
    width: 300px;
  }

  .extra-certificates {
    max-height: 600px;
    width: 260px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .extra-certificates::-webkit-scrollbar {
    width: 0;
  }
  .cert2-image {
    min-width: 320px;
    height: 300px;
  }
  .cert2-image > a > img {
    height: 170px;
    width: 250px;
    margin-right: 100px;
  }
  .cert2-image > a {
    color: rgb(0, 145, 223);
    font-size: 20px !important;
  }
  .cert2-image > a:hover {
    color: rgb(69, 255, 216);
  }

  .cover {
    position: relative;
    margin-top: 10px !important;
  }
  .left {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
  }
  .copyright {
    height: 100px;
  }

  /* project */
  .project-area {
    height: 350vh;
  }
  .netflix-home {
    height: 70vh;
    width: 70vw;
  }
  .my-project {
    margin-bottom: 5rem;
    margin-top: 6rem;
    font-weight: bold;
    font-size: 40px;
  }
  .project-title:hover {
    color: #2af8ff;
  }
  .projects {
    margin-bottom: 150px;
  }
  .mobile-project-content {
    font-size: 22px !important;
  }

  /* contact */

  .contact-page {
    height: 270vh;
  }

  .contact-area {
    margin-top: 50px;
  }

  .contact-me {
    font-size: 40px;
    font-weight: bold;
  }

  .contact-image2 {
    height: 220px;
    width: 350px;
  }

  .contact-list {
    margin-left: 0px;
    margin-left: 50px;
    /* border: solid white 2px; */
  }

  .contact-through {
    padding: 10px;
    padding-top: 20px;
    border: solid 1px rgb(59, 59, 59);
    box-shadow: 2px 2px 3px white;
    height: 150px;
    width: 250px;
    transition-duration: 1s;
  }

  .contact-through:hover {
    height: 160px;
    width: 260px;
    box-shadow: 5px 5px 5px white;
    transition-duration: 1s;
  }
  .contact-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 159, 174);
  }
  .contact-link:hover {
    color: #2af8ff;
    font-size: 21px;
  }

  .contact-no {
    color: rgb(37, 114, 239);
  }
}
